<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopName%> Shop Users</h1>
    <h2>List of all users:</h2>
    <ul>
      <% logins.forEach(function(login) { %>
        <li>Username: <%= login.username %>, First Name: <%=login.firstname%>, Last Name: <%=login.lastname%>, Email: <%=login.email%></li>
      <% }) %>
    </ul>
    </body>
</html>